In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
"""
Anything that is observed or measured at many points in time forms a time series. Many time series are fixed frequency
• Timestamps, specific instants in time
• Fixed periods, such as the month January 2007 or the full year 2010
• Intervals of time, indicated by a start and end timestamp. Periods can be thought
of as special cases of intervals
• Experiment or elapsed time; each timestamp is a measure of time relative to a
particular start time (e.g., the diameter of a cookie baking each second since
being placed in the oven)
"""
# Date and Time data types and tools
from datetime import datetime, timedelta
now = datetime.now()
now
now.year, now.month, now.day
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta
delta.days, delta.seconds
start = datetime(2011, 1, 7)
start + timedelta(12)   # days = 12

'\nAnything that is observed or measured at many points in time forms a time series. Many time series are fixed frequency\n• Timestamps, specific instants in time\n• Fixed periods, such as the month January 2007 or the full year 2010\n• Intervals of time, indicated by a start and end timestamp. Periods can be thought\nof as special cases of intervals\n• Experiment or elapsed time; each timestamp is a measure of time relative to a\nparticular start time (e.g., the diameter of a cookie baking each second since\nbeing placed in the oven)\n'

datetime.datetime(2020, 2, 20, 15, 25, 34, 498752)

(2020, 2, 20)

datetime.timedelta(926, 56700)

(926, 56700)

datetime.datetime(2011, 1, 19, 0, 0)

In [3]:
# converting between string and datetime
stamp = datetime(2011, 1, 3)
str(stamp)
stamp.strftime('%Y-%m-%d')
stamp.strftime('%y-%m-%d-%w')
stamp.strftime('%F')
"""
%Y Four-digit year
%y Two-digit year
%m Two-digit month [01, 12]
%d Two-digit day [01, 31]
%H Hour (24-hour clock) [00, 23]
%I Hour (12-hour clock) [01, 12]
%M Two-digit minute [00, 59]
%S Second [00, 61] (seconds 60, 61 account for leap seconds)
%w Weekday as integer [0 (Sunday), 6]
%U Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of
the year are “week 0”
%W Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of
the year are “week 0”
%z UTC time zone offset as +HHMM or -HHMM; empty if time zone naive
%F Shortcut for %Y-%m-%d (e.g., 2012-4-18)
%D Shortcut for %m/%d/%y (e.g., 04/18/12)
"""
# from str to datetime
value = '2011-01-03'
datetime.strptime(value, '%F')
# parser.parse method in the third-party dateutil package
from dateutil.parser import parse
parse('2011-01-03')
parse('Jan 31, 1997 10:45 PM')
parse('6/12/2011', dayfirst=True)   # day appearing before month
# dateutil.parser is a useful but imperfect tool. it will recognize some strings as dates that you might prefer that it didn't
# '42' will be parsed as the year 2042

'2011-01-03 00:00:00'

'2011-01-03'

'11-01-03-1'

'2011-01-03'

'\n%Y Four-digit year\n%y Two-digit year\n%m Two-digit month [01, 12]\n%d Two-digit day [01, 31]\n%H Hour (24-hour clock) [00, 23]\n%I Hour (12-hour clock) [01, 12]\n%M Two-digit minute [00, 59]\n%S Second [00, 61] (seconds 60, 61 account for leap seconds)\n%w Weekday as integer [0 (Sunday), 6]\n%U Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of\nthe year are “week 0”\n%W Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of\nthe year are “week 0”\n%z UTC time zone offset as +HHMM or -HHMM; empty if time zone naive\n%F Shortcut for %Y-%m-%d (e.g., 2012-4-18)\n%D Shortcut for %m/%d/%y (e.g., 04/18/12)\n'

ValueError: 'F' is a bad directive in format '%F'

In [4]:
import pandas as pd

datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)
idx = pd.to_datetime(datestrs + [None])
idx
pd.isnull(idx)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

array([False, False,  True])

In [5]:
# time series basics
import numpy as np
from datetime import datetime

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(3), index=idx)
ts
ts = pd.Series(np.random.randn(6), index=dates)
ts
ts.index
ts + ts[::2]
stamp = ts.index[0]
stamp

2011-07-06 12:00:00   -0.870727
2011-08-06 00:00:00    1.422329
NaT                   -0.126570
dtype: float64

2011-01-02    1.287256
2011-01-05   -0.130421
2011-01-07   -0.626330
2011-01-08    0.315986
2011-01-10    0.944145
2011-01-12   -0.582385
dtype: float64

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

2011-01-02    2.574511
2011-01-05         NaN
2011-01-07   -1.252660
2011-01-08         NaN
2011-01-10    1.888291
2011-01-12         NaN
dtype: float64

Timestamp('2011-01-02 00:00:00')

In [6]:
# indexing, selection, subsetting
stamp = ts.index[2]
stamp
ts[stamp]
# As a convenience, you can also pass a string that is interpretable as a date
ts['1/10/2011']
ts['20110110']

# for longer time series
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts
longer_ts['2001']   # selects time period of whole 2001 year
# slicing with datetime object
ts[datetime(2011, 1, 7):]

Timestamp('2011-01-07 00:00:00')

-0.6263301581759028

0.944145392725229

0.944145392725229

2000-01-01    0.514927
2000-01-02   -0.424506
2000-01-03   -2.606891
2000-01-04    0.019115
2000-01-05   -0.088457
2000-01-06    0.869693
2000-01-07    0.536922
2000-01-08    1.302214
2000-01-09    0.344405
2000-01-10    1.986467
2000-01-11    0.274135
2000-01-12    0.577136
2000-01-13   -2.861630
2000-01-14   -0.276382
2000-01-15    0.969295
2000-01-16   -0.775426
2000-01-17    1.401544
2000-01-18   -1.631795
2000-01-19    1.470624
2000-01-20   -0.937345
2000-01-21   -0.744356
2000-01-22    0.670152
2000-01-23    0.855195
2000-01-24   -1.188479
2000-01-25   -0.797301
2000-01-26   -0.471301
2000-01-27   -1.226546
2000-01-28    1.048935
2000-01-29   -0.851399
2000-01-30    0.256822
                ...
2002-08-28    0.890748
2002-08-29    1.176776
2002-08-30   -0.837948
2002-08-31    0.920525
2002-09-01    0.548282
2002-09-02    1.906740
2002-09-03   -0.013817
2002-09-04    0.099405
2002-09-05    0.036279
2002-09-06   -0.560784
2002-09-07    0.393848
2002-09-08   -0.985277
2002-09-09   -0.575083
2002-09-10   -0.527967
2002-09-11   -0.218319
2002-09-12    1.461322
2002-09-13   -0.246369
2002-09-14    0.367210
2002-09-15   -0.262797
2002-09-16    0.457806
2002-09-17   -1.365256
2002-09-18   -1.189470
2002-09-19    0.685604
2002-09-20   -0.020873
2002-09-21   -0.211757
2002-09-22   -0.942891
2002-09-23   -1.295653
2002-09-24   -0.662708
2002-09-25    0.818554
2002-09-26   -0.657161
Freq: D, Length: 1000, dtype: float64

2001-01-01    1.903614
2001-01-02   -0.430514
2001-01-03    1.372375
2001-01-04    1.162308
2001-01-05   -0.296498
2001-01-06   -2.085401
2001-01-07   -0.006454
2001-01-08   -0.017649
2001-01-09   -0.537884
2001-01-10   -0.889433
2001-01-11    0.057341
2001-01-12   -0.415129
2001-01-13   -0.626727
2001-01-14    0.910722
2001-01-15   -0.308054
2001-01-16    1.369308
2001-01-17   -0.555890
2001-01-18   -1.628402
2001-01-19   -0.782693
2001-01-20    0.649376
2001-01-21   -1.001528
2001-01-22   -0.453748
2001-01-23    0.821746
2001-01-24    0.246264
2001-01-25    1.224750
2001-01-26   -0.301409
2001-01-27    0.118232
2001-01-28   -1.401138
2001-01-29    1.080637
2001-01-30    1.346890
                ...
2001-12-02   -0.616785
2001-12-03    0.213276
2001-12-04    0.324446
2001-12-05    0.451917
2001-12-06    0.814253
2001-12-07    0.819850
2001-12-08    1.244599
2001-12-09    0.855217
2001-12-10   -0.046607
2001-12-11   -0.075625
2001-12-12   -0.622434
2001-12-13   -1.589078
2001-12-14   -0.097920
2001-12-15   -1.919727
2001-12-16   -0.487170
2001-12-17   -0.437135
2001-12-18    0.463538
2001-12-19    0.609689
2001-12-20   -2.107860
2001-12-21    1.226282
2001-12-22    0.699292
2001-12-23    0.548765
2001-12-24    1.641828
2001-12-25    0.011760
2001-12-26    0.010917
2001-12-27    0.142594
2001-12-28   -0.754919
2001-12-29    1.309624
2001-12-30   -0.658307
2001-12-31   -0.365396
Freq: D, Length: 365, dtype: float64

2011-01-07   -0.626330
2011-01-08    0.315986
2011-01-10    0.944145
2011-01-12   -0.582385
dtype: float64

In [7]:
# slice with timestamps not contained in a time series to perform a range query, slicing produces views
ts
ts['1/6/2011': '1/11/2011']
ts.truncate(after='1/9/2011')

2011-01-02    1.287256
2011-01-05   -0.130421
2011-01-07   -0.626330
2011-01-08    0.315986
2011-01-10    0.944145
2011-01-12   -0.582385
dtype: float64

2011-01-07   -0.626330
2011-01-08    0.315986
2011-01-10    0.944145
dtype: float64

2011-01-02    1.287256
2011-01-05   -0.130421
2011-01-07   -0.626330
2011-01-08    0.315986
dtype: float64

In [8]:
# holds true for DataFrame as well, indexing on its rows
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
dates
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
long_df.loc['5-2001']

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Colorado</th>
      <th>Texas</th>
      <th>New York</th>
      <th>Ohio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2001-05-02</th>
      <td>1.133292</td>
      <td>-1.389794</td>
      <td>-0.162334</td>
      <td>1.826093</td>
    </tr>
    <tr>
      <th>2001-05-09</th>
      <td>-1.039231</td>
      <td>0.563837</td>
      <td>0.315013</td>
      <td>1.075937</td>
    </tr>
    <tr>
      <th>2001-05-16</th>
      <td>0.422340</td>
      <td>0.648234</td>
      <td>-0.270060</td>
      <td>0.638354</td>
    </tr>
    <tr>
      <th>2001-05-23</th>
      <td>0.244846</td>
      <td>-0.117186</td>
      <td>-0.139849</td>
      <td>-0.882317</td>
    </tr>
    <tr>
      <th>2001-05-30</th>
      <td>0.424692</td>
      <td>-1.223586</td>
      <td>0.969266</td>
      <td>-0.998710</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
# time series with duplicate indices
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts
dup_ts['1/2/2000']
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [10]:
# date ranges, frequencies, and shifting
# pandas has a
# full suite of standard time series frequencies and tools for resampling, inferring frequencies,
# and generating fixed-frequency date ranges. For example, you can convert
# the sample time series to be fixed daily frequency by calling resample:
ts
resampler = ts.resample('D')    # 'D' is interpreted as daily frequency
resampler

2011-01-02    1.287256
2011-01-05   -0.130421
2011-01-07   -0.626330
2011-01-08    0.315986
2011-01-10    0.944145
2011-01-12   -0.582385
dtype: float64

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [11]:
# generating date ranges
# date_range is responsible for generating a DatetimeIndex with an indicated length according to a particular frequency
index = pd.date_range('2012-04-01', '2012-06-01')
index
pd.date_range(start='2012-04-01', periods=20)
pd.date_range(end='2012-04-01', periods=20)
# if you wanted a date index containing the last business day of each month, you would pass the 'BM' frequency
pd.date_range('2000-01-01', '2000-12-01', freq='BM')
pd.date_range('2000-01-01', '2000-02-01', freq='B')  # only businessday
pd.date_range('2000-01-01', '2000-02-01', freq='H')
# by default preserves the time
pd.date_range('2012-05-02 12:56:31', periods=5)
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-17', '2000-01-18',
               '2000-01-19', '2000-01-20', '2000-01-21', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-31', '2000-02-01'],
              dtype='datetime64[ns]', freq='B')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:00:00',
               '2000-01-01 02:00:00', '2000-01-01 03:00:00',
               '2000-01-01 04:00:00', '2000-01-01 05:00:00',
               '2000-01-01 06:00:00', '2000-01-01 07:00:00',
               '2000-01-01 08:00:00', '2000-01-01 09:00:00',
               ...
               '2000-01-31 15:00:00', '2000-01-31 16:00:00',
               '2000-01-31 17:00:00', '2000-01-31 18:00:00',
               '2000-01-31 19:00:00', '2000-01-31 20:00:00',
               '2000-01-31 21:00:00', '2000-01-31 22:00:00',
               '2000-01-31 23:00:00', '2000-02-01 00:00:00'],
              dtype='datetime64[ns]', length=745, freq='H')

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
# frequencies and date offsets
# date offset
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour
Hour(4)
# mostly you would never need to explicitly create one of these objects
pd.date_range('2000-01-01', '2000-01-03', freq='4h')
pd.date_range('2000-01-01', '2000-01-03', freq='1h30min')
# week of month dates
# one useful frequency class is 'week of month' starting with WOM which enables you to get dates like the third Friday or so
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00',
               '2000-01-01 15:00:00', '2000-01-01 16:30:00',
               '2000-01-01 18:00:00', '2000-01-01 19:30:00',
               '2000-01-01 21:00:00', '2000-01-01 22:30:00',
               '2000-01-02 00:00:00', '2000-01-02 01:30:00',
               '2000-01-02 03:00:00', '2000-01-02 04:30:00',
               '2000-01-02 06:00:00', '2000-01-02 07:30:00',
               '2000-01-02 09:00:00', '2000-01-02 10:30:00',
               '2000-01-02 12:00:00', '2000-01-02 13:30:00',
               '2000-01-02 15:00:00', '2000-01-02 16:30:00',
               '2000-01-02 18:00:00', '2000-01-02 19:30:00',
               '2000-01-02 21:00:00', '2000-01-02 22:30:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='90T')

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [13]:
# shifting(leading and lagging) data
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts
ts.shift(2)
ts.shift(-2)
# a common use of shift is computing percent changes in a time series or multiple time series
ts / ts.shift(1) - 1
ts.shift(2, freq='M')
ts.shift(2, freq='D')
ts.shift(1, freq='90T')

2000-01-31   -0.506871
2000-02-29   -0.837678
2000-03-31   -0.158120
2000-04-30    1.273145
Freq: M, dtype: float64

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.506871
2000-04-30   -0.837678
Freq: M, dtype: float64

2000-01-31   -0.158120
2000-02-29    1.273145
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

2000-01-31         NaN
2000-02-29    0.652644
2000-03-31   -0.811240
2000-04-30   -9.051760
Freq: M, dtype: float64

2000-03-31   -0.506871
2000-04-30   -0.837678
2000-05-31   -0.158120
2000-06-30    1.273145
Freq: M, dtype: float64

2000-02-02   -0.506871
2000-03-02   -0.837678
2000-04-02   -0.158120
2000-05-02    1.273145
dtype: float64

2000-01-31 01:30:00   -0.506871
2000-02-29 01:30:00   -0.837678
2000-03-31 01:30:00   -0.158120
2000-04-30 01:30:00    1.273145
Freq: M, dtype: float64

In [14]:
# shifting dates with offsets
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + 3 * Day()
now + MonthEnd()
now + MonthEnd(2)
offset = MonthEnd()
offset.rollforward(now)
offset.rollback(now)
# a creative use of date offsets is to use these methods with groupby
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts
ts.groupby(offset.rollforward).mean()
# an easier way is to use resample
ts.resample('M').mean()

Timestamp('2011-11-20 00:00:00')

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-12-31 00:00:00')

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-10-31 00:00:00')

2000-01-15    0.929409
2000-01-19   -0.229424
2000-01-23   -0.079386
2000-01-27    0.653054
2000-01-31    0.568721
2000-02-04    0.014230
2000-02-08   -0.525947
2000-02-12   -0.659247
2000-02-16   -0.325609
2000-02-20    1.301953
2000-02-24    0.232511
2000-02-28    0.897293
2000-03-03   -0.381147
2000-03-07   -0.659354
2000-03-11    0.452785
2000-03-15    1.318464
2000-03-19   -1.280100
2000-03-23    0.424172
2000-03-27    0.457366
2000-03-31    1.130846
Freq: 4D, dtype: float64

2000-01-31    0.368475
2000-02-29    0.133598
2000-03-31    0.182879
dtype: float64

2000-01-31    0.368475
2000-02-29    0.133598
2000-03-31    0.182879
Freq: M, dtype: float64

In [15]:
# time zone handling
# timezone are expressed as offsets from UTC
import pytz

pytz.common_timezones[-5:]
pytz.common_timezones[8]
tz = pytz.timezone('America/Los_Angeles')   # create a time zone object from pytz, use pytz.timezone
tz

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

'Africa/Bissau'

In [16]:
# time zone localization and conversion
rng = pd.date_range('3/3/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
print(ts.index.tz)  # tz field is None
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')
ts
ts_utc = ts.tz_localize('UTC')
ts_utc
ts_utc.tz_convert('America/New_York')
ts_eastern = ts.tz_localize('America/New_York')
ts_western = ts.tz_localize('America/Los_Angeles')
ts_eastern.tz_convert('UTC')
ts_eastern.tz_convert('Europe/Berlin')
ts.index.tz_localize('Asia/Shanghai')

2012-03-03 09:30:00   -1.739322
2012-03-04 09:30:00   -0.790059
2012-03-05 09:30:00   -0.774327
2012-03-06 09:30:00   -0.779329
2012-03-07 09:30:00   -1.912437
2012-03-08 09:30:00    0.167897
Freq: D, dtype: float64

None

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

2012-03-03 09:30:00   -1.739322
2012-03-04 09:30:00   -0.790059
2012-03-05 09:30:00   -0.774327
2012-03-06 09:30:00   -0.779329
2012-03-07 09:30:00   -1.912437
2012-03-08 09:30:00    0.167897
Freq: D, dtype: float64

2012-03-03 09:30:00+00:00   -1.739322
2012-03-04 09:30:00+00:00   -0.790059
2012-03-05 09:30:00+00:00   -0.774327
2012-03-06 09:30:00+00:00   -0.779329
2012-03-07 09:30:00+00:00   -1.912437
2012-03-08 09:30:00+00:00    0.167897
Freq: D, dtype: float64

2012-03-03 04:30:00-05:00   -1.739322
2012-03-04 04:30:00-05:00   -0.790059
2012-03-05 04:30:00-05:00   -0.774327
2012-03-06 04:30:00-05:00   -0.779329
2012-03-07 04:30:00-05:00   -1.912437
2012-03-08 04:30:00-05:00    0.167897
Freq: D, dtype: float64

2012-03-03 14:30:00+00:00   -1.739322
2012-03-04 14:30:00+00:00   -0.790059
2012-03-05 14:30:00+00:00   -0.774327
2012-03-06 14:30:00+00:00   -0.779329
2012-03-07 14:30:00+00:00   -1.912437
2012-03-08 14:30:00+00:00    0.167897
Freq: D, dtype: float64

2012-03-03 15:30:00+01:00   -1.739322
2012-03-04 15:30:00+01:00   -0.790059
2012-03-05 15:30:00+01:00   -0.774327
2012-03-06 15:30:00+01:00   -0.779329
2012-03-07 15:30:00+01:00   -1.912437
2012-03-08 15:30:00+01:00    0.167897
Freq: D, dtype: float64

DatetimeIndex(['2012-03-03 09:30:00+08:00', '2012-03-04 09:30:00+08:00',
               '2012-03-05 09:30:00+08:00', '2012-03-06 09:30:00+08:00',
               '2012-03-07 09:30:00+08:00', '2012-03-08 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [17]:
# operations with timezone-aware timestamp objects
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')
stamp_utc.value  # store a UTC timestamp value as nanoseconds since the Unix epoch(Jan 1, 1970) invariant between time zone conversions

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

1299902400000000000

In [18]:
# operations between different time zones
# If two time series with different time zones are combined, the result will be UTC.
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts1 = ts[:7].tz_localize('Europe/London')
ts1.index
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2.index
result = ts1 + ts2
result.index

2012-03-07 09:30:00    0.805810
2012-03-08 09:30:00    0.635118
2012-03-09 09:30:00   -1.534635
2012-03-12 09:30:00    1.523684
2012-03-13 09:30:00   -1.409939
2012-03-14 09:30:00    0.923053
2012-03-15 09:30:00    0.749888
2012-03-16 09:30:00    2.210108
2012-03-19 09:30:00    1.299378
2012-03-20 09:30:00    0.485729
Freq: B, dtype: float64

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='B')

DatetimeIndex(['2012-03-09 13:30:00+04:00', '2012-03-12 13:30:00+04:00',
               '2012-03-13 13:30:00+04:00', '2012-03-14 13:30:00+04:00',
               '2012-03-15 13:30:00+04:00'],
              dtype='datetime64[ns, Europe/Moscow]', freq='B')

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [23]:
# periods and period arithmetic
# periods represent timespans, like days, quarters, or years
p = pd.Period(2007, freq='A-DEC')   # 表示以12月作为结束的一整年 annual?
p   # in this case, the period object represents the full timespan from Jan/1/2007
p + 5
pd.Period('2014', freq='A-DEC') - p
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

Period('2007', 'A-DEC')

Period('2012', 'A-DEC')

7

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [28]:
# period frequency conversion
# asfreq
p = pd.Period('2007', freq='A-DEC')
p
p.asfreq('M', how='start')
p.asfreq('M', how='end')
p = pd.Period('2007', freq='A-JUN')  # 2006.7-2007.6
p
p.asfreq('M', 'start')
p.asfreq('M', 'end')
# when you are converting from high to low frequency, pandas determines the super-period depending on where
# the subperiod "belongs". For example, in A-JUN frequency, the month Aug-2007 is actually part of th e2008 period
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')
p.asfreq('A-SEP')
# whole PeriodIndex objects or time series can be similarly converted with the same semantics
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.asfreq('M', how='start')
ts.asfreq('B', how='end')   # last business day of each year

Period('2007', 'A-DEC')

Period('2007-01', 'M')

Period('2007-12', 'M')

Period('2007', 'A-JUN')

Period('2006-07', 'M')

Period('2007-06', 'M')

Period('2008', 'A-JUN')

Period('2007', 'A-SEP')

2006    1.467236
2007    0.763507
2008    0.207848
2009   -0.372946
Freq: A-DEC, dtype: float64

2006-01    1.467236
2007-01    0.763507
2008-01    0.207848
2009-01   -0.372946
Freq: M, dtype: float64

2006-12-29    1.467236
2007-12-31    0.763507
2008-12-31    0.207848
2009-12-31   -0.372946
Freq: B, dtype: float64

In [32]:
# quarterly data is standard in accounting, finance...
p = pd.Period('2012Q4', freq='Q-JAN')
p
# in the case of fiscal year ending in Jan, 2012Q4 runs from November through January, which you can check by converting to daily frequency
p.asfreq('D', 'start')
p.asfreq('D', 'end')
p2 = pd.Period('2012Q3', freq='Q-JAN')  # 一月作为一年的最后一个quarter的最后一个月...
p2.asfreq('D', 'start')
p2.asfreq('D', 'end')
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm
p4pm.to_timestamp()

Period('2012Q4', 'Q-JAN')

Period('2011-11-01', 'D')

Period('2012-01-31', 'D')

Period('2011-08-01', 'D')

Period('2011-10-31', 'D')

Period('2012-01-30 16:00', 'T')

Timestamp('2012-01-30 16:00:00')

In [37]:
# converting timestamps to periods(and back)
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts
pts = ts.to_period()
pts
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2
ts2.to_period('M')
pts = ts2.to_period()
pts
pts.to_timestamp(how='e')

2000-01-31   -0.418224
2000-02-29   -0.391840
2000-03-31    0.384933
Freq: M, dtype: float64

2000-01   -0.418224
2000-02   -0.391840
2000-03    0.384933
Freq: M, dtype: float64

2000-01-29   -2.465262
2000-01-30    0.163714
2000-01-31   -0.968122
2000-02-01    0.750607
2000-02-02   -0.963425
2000-02-03   -0.135973
Freq: D, dtype: float64

2000-01   -2.465262
2000-01    0.163714
2000-01   -0.968122
2000-02    0.750607
2000-02   -0.963425
2000-02   -0.135973
Freq: M, dtype: float64

2000-01-29   -2.465262
2000-01-30    0.163714
2000-01-31   -0.968122
2000-02-01    0.750607
2000-02-02   -0.963425
2000-02-03   -0.135973
Freq: D, dtype: float64

2000-01-29   -2.465262
2000-01-30    0.163714
2000-01-31   -0.968122
2000-02-01    0.750607
2000-02-02   -0.963425
2000-02-03   -0.135973
Freq: D, dtype: float64