In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
"""
Anything that is observed or measured at many points in time forms a time series. Many time series are fixed frequency
• Timestamps, specific instants in time
• Fixed periods, such as the month January 2007 or the full year 2010
• Intervals of time, indicated by a start and end timestamp. Periods can be thought
of as special cases of intervals
• Experiment or elapsed time; each timestamp is a measure of time relative to a
particular start time (e.g., the diameter of a cookie baking each second since
being placed in the oven)
"""
# Date and Time data types and tools
from datetime import datetime, timedelta
now = datetime.now()
now
now.year, now.month, now.day
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta
delta.days, delta.seconds
start = datetime(2011, 1, 7)
start + timedelta(12)   # days = 12

'\nAnything that is observed or measured at many points in time forms a time series. Many time series are fixed frequency\n• Timestamps, specific instants in time\n• Fixed periods, such as the month January 2007 or the full year 2010\n• Intervals of time, indicated by a start and end timestamp. Periods can be thought\nof as special cases of intervals\n• Experiment or elapsed time; each timestamp is a measure of time relative to a\nparticular start time (e.g., the diameter of a cookie baking each second since\nbeing placed in the oven)\n'

datetime.datetime(2020, 2, 19, 16, 59, 34, 964393)

(2020, 2, 19)

datetime.timedelta(926, 56700)

(926, 56700)

datetime.datetime(2011, 1, 19, 0, 0)

In [3]:
# converting between string and datetime
stamp = datetime(2011, 1, 3)
str(stamp)
stamp.strftime('%Y-%m-%d')
stamp.strftime('%y-%m-%d-%w')
stamp.strftime('%F')
"""
%Y Four-digit year
%y Two-digit year
%m Two-digit month [01, 12]
%d Two-digit day [01, 31]
%H Hour (24-hour clock) [00, 23]
%I Hour (12-hour clock) [01, 12]
%M Two-digit minute [00, 59]
%S Second [00, 61] (seconds 60, 61 account for leap seconds)
%w Weekday as integer [0 (Sunday), 6]
%U Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of
the year are “week 0”
%W Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of
the year are “week 0”
%z UTC time zone offset as +HHMM or -HHMM; empty if time zone naive
%F Shortcut for %Y-%m-%d (e.g., 2012-4-18)
%D Shortcut for %m/%d/%y (e.g., 04/18/12)
"""
# from str to datetime
value = '2011-01-03'
datetime.strptime(value, '%F')
# parser.parse method in the third-party dateutil package
from dateutil.parser import parse
parse('2011-01-03')
parse('Jan 31, 1997 10:45 PM')
parse('6/12/2011', dayfirst=True)   # day appearing before month
# dateutil.parser is a useful but imperfect tool. it will recognize some strings as dates that you might prefer that it didn't
# '42' will be parsed as the year 2042

'2011-01-03 00:00:00'

'2011-01-03'

'11-01-03-1'

'2011-01-03'

'\n%Y Four-digit year\n%y Two-digit year\n%m Two-digit month [01, 12]\n%d Two-digit day [01, 31]\n%H Hour (24-hour clock) [00, 23]\n%I Hour (12-hour clock) [01, 12]\n%M Two-digit minute [00, 59]\n%S Second [00, 61] (seconds 60, 61 account for leap seconds)\n%w Weekday as integer [0 (Sunday), 6]\n%U Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of\nthe year are “week 0”\n%W Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of\nthe year are “week 0”\n%z UTC time zone offset as +HHMM or -HHMM; empty if time zone naive\n%F Shortcut for %Y-%m-%d (e.g., 2012-4-18)\n%D Shortcut for %m/%d/%y (e.g., 04/18/12)\n'

ValueError: 'F' is a bad directive in format '%F'

In [4]:
import pandas as pd

datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)
idx = pd.to_datetime(datestrs + [None])
idx
pd.isnull(idx)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

array([False, False,  True])

In [5]:
# time series basics
import numpy as np
from datetime import datetime

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(3), index=idx)
ts
ts = pd.Series(np.random.randn(6), index=dates)
ts
ts.index
ts + ts[::2]
stamp = ts.index[0]
stamp

2011-07-06 12:00:00   -1.092608
2011-08-06 00:00:00   -0.308508
NaT                   -0.298670
dtype: float64

2011-01-02   -0.084716
2011-01-05   -0.184652
2011-01-07   -0.122547
2011-01-08   -0.954296
2011-01-10    0.931601
2011-01-12   -1.267576
dtype: float64

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

2011-01-02   -0.169431
2011-01-05         NaN
2011-01-07   -0.245095
2011-01-08         NaN
2011-01-10    1.863201
2011-01-12         NaN
dtype: float64

Timestamp('2011-01-02 00:00:00')

In [6]:
# indexing, selection, subsetting
stamp = ts.index[2]
stamp
ts[stamp]
# As a convenience, you can also pass a string that is interpretable as a date
ts['1/10/2011']
ts['20110110']

# for longer time series
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts
longer_ts['2001']   # selects time period of whole 2001 year
# slicing with datetime object
ts[datetime(2011, 1, 7):]

Timestamp('2011-01-07 00:00:00')

-0.12254740503549948

0.9316006797159124

0.9316006797159124

2000-01-01   -0.634649
2000-01-02    1.779337
2000-01-03   -1.527270
2000-01-04   -0.841636
2000-01-05   -0.798837
2000-01-06    1.154520
2000-01-07   -0.365667
2000-01-08   -0.168173
2000-01-09   -0.494888
2000-01-10    0.363555
2000-01-11    0.504538
2000-01-12    1.642736
2000-01-13   -1.897355
2000-01-14   -0.251795
2000-01-15    0.227602
2000-01-16    0.048643
2000-01-17    1.206500
2000-01-18   -0.052373
2000-01-19    1.603625
2000-01-20   -1.240269
2000-01-21   -0.259511
2000-01-22   -0.047658
2000-01-23   -0.186926
2000-01-24    0.552348
2000-01-25   -0.751128
2000-01-26   -0.051779
2000-01-27   -0.446296
2000-01-28    1.361540
2000-01-29    0.053426
2000-01-30    0.735089
                ...
2002-08-28   -0.613634
2002-08-29    1.958802
2002-08-30   -1.276198
2002-08-31    2.274109
2002-09-01    0.069073
2002-09-02    0.340418
2002-09-03    0.650912
2002-09-04    0.657233
2002-09-05    0.336324
2002-09-06   -1.178678
2002-09-07    1.249604
2002-09-08   -0.036225
2002-09-09   -2.335659
2002-09-10    1.309994
2002-09-11    0.855734
2002-09-12   -0.025233
2002-09-13    0.515371
2002-09-14   -1.026523
2002-09-15    1.175402
2002-09-16    0.255058
2002-09-17   -1.191897
2002-09-18   -2.802044
2002-09-19   -0.789364
2002-09-20    1.036762
2002-09-21   -0.796026
2002-09-22   -2.654019
2002-09-23    1.530167
2002-09-24    0.030016
2002-09-25    0.217478
2002-09-26   -1.133463
Freq: D, Length: 1000, dtype: float64

2001-01-01   -0.499492
2001-01-02   -0.253930
2001-01-03    2.249595
2001-01-04   -0.048737
2001-01-05   -0.840165
2001-01-06   -0.077093
2001-01-07   -0.664682
2001-01-08    0.027312
2001-01-09    1.172401
2001-01-10   -0.490403
2001-01-11   -2.588948
2001-01-12    0.292352
2001-01-13    0.028621
2001-01-14    0.321449
2001-01-15   -1.602154
2001-01-16   -2.207095
2001-01-17    0.678153
2001-01-18    0.333345
2001-01-19    0.289177
2001-01-20    0.035663
2001-01-21    0.834418
2001-01-22   -0.545329
2001-01-23    0.702615
2001-01-24   -0.479973
2001-01-25   -0.086280
2001-01-26   -0.047856
2001-01-27    1.093288
2001-01-28    0.100433
2001-01-29   -1.516955
2001-01-30   -1.115753
                ...
2001-12-02    0.282626
2001-12-03    0.146936
2001-12-04   -0.278412
2001-12-05    1.549884
2001-12-06    1.223313
2001-12-07   -0.470824
2001-12-08    0.202077
2001-12-09   -0.076353
2001-12-10    1.842582
2001-12-11   -0.297259
2001-12-12   -0.150655
2001-12-13    0.031124
2001-12-14   -0.692840
2001-12-15   -0.327455
2001-12-16    0.449504
2001-12-17   -0.691985
2001-12-18   -0.935076
2001-12-19   -1.001819
2001-12-20    0.382915
2001-12-21    0.054397
2001-12-22    0.016479
2001-12-23   -0.463919
2001-12-24   -0.413908
2001-12-25    0.008152
2001-12-26    0.831716
2001-12-27    1.832171
2001-12-28    1.762592
2001-12-29    0.860988
2001-12-30    0.183417
2001-12-31    1.018891
Freq: D, Length: 365, dtype: float64

2011-01-07   -0.122547
2011-01-08   -0.954296
2011-01-10    0.931601
2011-01-12   -1.267576
dtype: float64

In [7]:
# slice with timestamps not contained in a time series to perform a range query, slicing produces views
ts
ts['1/6/2011': '1/11/2011']
ts.truncate(after='1/9/2011')

2011-01-02   -0.084716
2011-01-05   -0.184652
2011-01-07   -0.122547
2011-01-08   -0.954296
2011-01-10    0.931601
2011-01-12   -1.267576
dtype: float64

2011-01-07   -0.122547
2011-01-08   -0.954296
2011-01-10    0.931601
dtype: float64

2011-01-02   -0.084716
2011-01-05   -0.184652
2011-01-07   -0.122547
2011-01-08   -0.954296
dtype: float64

In [8]:
# holds true for DataFrame as well, indexing on its rows
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
dates
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
long_df.loc['5-2001']

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Colorado</th>
      <th>Texas</th>
      <th>New York</th>
      <th>Ohio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2001-05-02</th>
      <td>0.073904</td>
      <td>-0.347607</td>
      <td>1.636189</td>
      <td>2.261138</td>
    </tr>
    <tr>
      <th>2001-05-09</th>
      <td>-1.303656</td>
      <td>-0.327417</td>
      <td>-0.426688</td>
      <td>-0.553281</td>
    </tr>
    <tr>
      <th>2001-05-16</th>
      <td>-1.939264</td>
      <td>-0.909407</td>
      <td>-0.097087</td>
      <td>0.869816</td>
    </tr>
    <tr>
      <th>2001-05-23</th>
      <td>0.195423</td>
      <td>-0.605214</td>
      <td>0.033732</td>
      <td>-0.873392</td>
    </tr>
    <tr>
      <th>2001-05-30</th>
      <td>-0.172758</td>
      <td>0.490027</td>
      <td>-0.067670</td>
      <td>-1.194851</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
# time series with duplicate indices
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts
dup_ts['1/2/2000']
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [10]:
# date ranges, frequencies, and shifting
# pandas has a
# full suite of standard time series frequencies and tools for resampling, inferring frequencies,
# and generating fixed-frequency date ranges. For example, you can convert
# the sample time series to be fixed daily frequency by calling resample:
ts
resampler = ts.resample('D')    # 'D' is interpreted as daily frequency
resampler

2011-01-02   -0.084716
2011-01-05   -0.184652
2011-01-07   -0.122547
2011-01-08   -0.954296
2011-01-10    0.931601
2011-01-12   -1.267576
dtype: float64

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [11]:
# generating date ranges
# date_range is responsible for generating a DatetimeIndex with an indicated length according to a particular frequency
index = pd.date_range('2012-04-01', '2012-06-01')
index
pd.date_range(start='2012-04-01', periods=20)
pd.date_range(end='2012-04-01', periods=20)
# if you wanted a date index containing the last business day of each month, you would pass the 'BM' frequency
pd.date_range('2000-01-01', '2000-12-01', freq='BM')
pd.date_range('2000-01-01', '2000-02-01', freq='B')  # only businessday
pd.date_range('2000-01-01', '2000-02-01', freq='H')
# by default preserves the time
pd.date_range('2012-05-02 12:56:31', periods=5)
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-17', '2000-01-18',
               '2000-01-19', '2000-01-20', '2000-01-21', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-31', '2000-02-01'],
              dtype='datetime64[ns]', freq='B')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:00:00',
               '2000-01-01 02:00:00', '2000-01-01 03:00:00',
               '2000-01-01 04:00:00', '2000-01-01 05:00:00',
               '2000-01-01 06:00:00', '2000-01-01 07:00:00',
               '2000-01-01 08:00:00', '2000-01-01 09:00:00',
               ...
               '2000-01-31 15:00:00', '2000-01-31 16:00:00',
               '2000-01-31 17:00:00', '2000-01-31 18:00:00',
               '2000-01-31 19:00:00', '2000-01-31 20:00:00',
               '2000-01-31 21:00:00', '2000-01-31 22:00:00',
               '2000-01-31 23:00:00', '2000-02-01 00:00:00'],
              dtype='datetime64[ns]', length=745, freq='H')

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
# frequencies and date offsets
# date offset
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour
Hour(4)
# mostly you would never need to explicitly create one of these objects
pd.date_range('2000-01-01', '2000-01-03', freq='4h')
pd.date_range('2000-01-01', '2000-01-03', freq='1h30min')
# week of month dates
# one useful frequency class is 'week of month' starting with WOM which enables you to get dates like the third Friday or so
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00',
               '2000-01-01 15:00:00', '2000-01-01 16:30:00',
               '2000-01-01 18:00:00', '2000-01-01 19:30:00',
               '2000-01-01 21:00:00', '2000-01-01 22:30:00',
               '2000-01-02 00:00:00', '2000-01-02 01:30:00',
               '2000-01-02 03:00:00', '2000-01-02 04:30:00',
               '2000-01-02 06:00:00', '2000-01-02 07:30:00',
               '2000-01-02 09:00:00', '2000-01-02 10:30:00',
               '2000-01-02 12:00:00', '2000-01-02 13:30:00',
               '2000-01-02 15:00:00', '2000-01-02 16:30:00',
               '2000-01-02 18:00:00', '2000-01-02 19:30:00',
               '2000-01-02 21:00:00', '2000-01-02 22:30:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='90T')

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [13]:
# shifting(leading and lagging) data
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts
ts.shift(2)
ts.shift(-2)
# a common use of shift is computing percent changes in a time series or multiple time series
ts / ts.shift(1) - 1
ts.shift(2, freq='M')
ts.shift(2, freq='D')
ts.shift(1, freq='90T')

2000-01-31   -0.651579
2000-02-29    0.707420
2000-03-31    0.975092
2000-04-30   -0.121033
Freq: M, dtype: float64

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.651579
2000-04-30    0.707420
Freq: M, dtype: float64

2000-01-31    0.975092
2000-02-29   -0.121033
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

2000-01-31         NaN
2000-02-29   -2.085701
2000-03-31    0.378378
2000-04-30   -1.124124
Freq: M, dtype: float64

2000-03-31   -0.651579
2000-04-30    0.707420
2000-05-31    0.975092
2000-06-30   -0.121033
Freq: M, dtype: float64

2000-02-02   -0.651579
2000-03-02    0.707420
2000-04-02    0.975092
2000-05-02   -0.121033
dtype: float64

2000-01-31 01:30:00   -0.651579
2000-02-29 01:30:00    0.707420
2000-03-31 01:30:00    0.975092
2000-04-30 01:30:00   -0.121033
Freq: M, dtype: float64

In [14]:
# shifting dates with offsets
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + 3 * Day()
now + MonthEnd()
now + MonthEnd(2)
offset = MonthEnd()
offset.rollforward(now)
offset.rollback(now)
# a creative use of date offsets is to use these methods with groupby
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts
ts.groupby(offset.rollforward).mean()
# an easier way is to use resample
ts.resample('M').mean()

Timestamp('2011-11-20 00:00:00')

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-12-31 00:00:00')

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-10-31 00:00:00')

2000-01-15    0.214333
2000-01-19   -0.111563
2000-01-23   -0.130894
2000-01-27   -1.565741
2000-01-31    0.532515
2000-02-04   -0.685466
2000-02-08    0.642385
2000-02-12   -0.212566
2000-02-16   -0.794000
2000-02-20    1.003586
2000-02-24   -0.531780
2000-02-28   -1.289922
2000-03-03    0.902329
2000-03-07    1.369027
2000-03-11    0.846799
2000-03-15    0.372214
2000-03-19    0.801918
2000-03-23    0.751525
2000-03-27   -0.483494
2000-03-31    0.933828
Freq: 4D, dtype: float64

2000-01-31   -0.212270
2000-02-29   -0.266823
2000-03-31    0.686768
dtype: float64

2000-01-31   -0.212270
2000-02-29   -0.266823
2000-03-31    0.686768
Freq: M, dtype: float64

In [21]:
# time zone handling
# timezone are expressed as offsets from UTC
import pytz

pytz.common_timezones[-5:]
pytz.common_timezones[8]
tz = pytz.timezone('America/Los_Angeles')   # create a time zone object from pytz, use pytz.timezone
tz

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

'Africa/Bissau'

In [27]:
# time zone localization and conversion
rng = pd.date_range('3/3/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
print(ts.index.tz)  # tz field is None
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')
ts
ts_utc = ts.tz_localize('UTC')
ts_utc
ts_utc.tz_convert('America/New_York')
ts_eastern = ts.tz_localize('America/New_York')
ts_western = ts.tz_localize('America/Los_Angeles')
ts_eastern.tz_convert('UTC')
ts_eastern.tz_convert('Europe/Berlin')
ts.index.tz_localize('Asia/Shanghai')

2012-03-03 09:30:00    0.492451
2012-03-04 09:30:00    0.130291
2012-03-05 09:30:00   -0.021208
2012-03-06 09:30:00   -0.617962
2012-03-07 09:30:00   -0.365079
2012-03-08 09:30:00    0.143581
Freq: D, dtype: float64

None

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

2012-03-03 09:30:00    0.492451
2012-03-04 09:30:00    0.130291
2012-03-05 09:30:00   -0.021208
2012-03-06 09:30:00   -0.617962
2012-03-07 09:30:00   -0.365079
2012-03-08 09:30:00    0.143581
Freq: D, dtype: float64

2012-03-03 09:30:00+00:00    0.492451
2012-03-04 09:30:00+00:00    0.130291
2012-03-05 09:30:00+00:00   -0.021208
2012-03-06 09:30:00+00:00   -0.617962
2012-03-07 09:30:00+00:00   -0.365079
2012-03-08 09:30:00+00:00    0.143581
Freq: D, dtype: float64

2012-03-03 04:30:00-05:00    0.492451
2012-03-04 04:30:00-05:00    0.130291
2012-03-05 04:30:00-05:00   -0.021208
2012-03-06 04:30:00-05:00   -0.617962
2012-03-07 04:30:00-05:00   -0.365079
2012-03-08 04:30:00-05:00    0.143581
Freq: D, dtype: float64

2012-03-03 14:30:00+00:00    0.492451
2012-03-04 14:30:00+00:00    0.130291
2012-03-05 14:30:00+00:00   -0.021208
2012-03-06 14:30:00+00:00   -0.617962
2012-03-07 14:30:00+00:00   -0.365079
2012-03-08 14:30:00+00:00    0.143581
Freq: D, dtype: float64

2012-03-03 15:30:00+01:00    0.492451
2012-03-04 15:30:00+01:00    0.130291
2012-03-05 15:30:00+01:00   -0.021208
2012-03-06 15:30:00+01:00   -0.617962
2012-03-07 15:30:00+01:00   -0.365079
2012-03-08 15:30:00+01:00    0.143581
Freq: D, dtype: float64

DatetimeIndex(['2012-03-03 09:30:00+08:00', '2012-03-04 09:30:00+08:00',
               '2012-03-05 09:30:00+08:00', '2012-03-06 09:30:00+08:00',
               '2012-03-07 09:30:00+08:00', '2012-03-08 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [29]:
# operations with timezone-aware timestamp objects
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')
stamp_utc.value  # store a UTC timestamp value as nanoseconds since the Unix epoch(Jan 1, 1970) invariant between time zone conversions

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

1299902400000000000

In [32]:
# operations between different time zones
# If two time series with different time zones are combined, the result will be UTC.
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts1 = ts[:7].tz_localize('Europe/London')
ts1.index
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2.index
result = ts1 + ts2
result.index

2012-03-07 09:30:00   -0.349608
2012-03-08 09:30:00    0.835816
2012-03-09 09:30:00    0.291087
2012-03-12 09:30:00    0.738305
2012-03-13 09:30:00    0.227230
2012-03-14 09:30:00    0.873977
2012-03-15 09:30:00    0.774193
2012-03-16 09:30:00    0.678232
2012-03-19 09:30:00   -0.371990
2012-03-20 09:30:00   -0.017194
Freq: B, dtype: float64

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='B')

DatetimeIndex(['2012-03-09 13:30:00+04:00', '2012-03-12 13:30:00+04:00',
               '2012-03-13 13:30:00+04:00', '2012-03-14 13:30:00+04:00',
               '2012-03-15 13:30:00+04:00'],
              dtype='datetime64[ns, Europe/Moscow]', freq='B')

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')